{% if ansible_os_family == 'RedHat' or ansible_os_family == 'MosOS Arbat' %}
user nginx;
{% endif %}
{% if ansible_os_family == 'Debian' %}
user www-data;
{% endif %}

#user  nginx;
worker_processes  1;

events {
    worker_connections 1024;
    use epoll;
}


http {
    include       mime.types;
    default_type  application/octet-stream;


    sendfile        on;
    keepalive_timeout  65;

    gzip  on;

    include conf.d/*.conf;

    server {
        listen       80;
        server_name  2048-game;

    location / {
        proxy_pass http://localhost:8080;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        }

    error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /srv/www/htdocs/;
        }

    }

}

